# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-microsoft-azure>=12.10.3
apache-airflow-providers-airbyte>=5.3.2
apache-airflow-providers-http>=5.6.4
astro-sdk-python>=1.8.1
apache-airflow-providers-databricks (>=7.9.0,<8.0.0)